/*CSS for screen with the width of btn 100 and 1024px*/
@media screen and (min-width: 100px) and (max-width: 1024px) {
    body {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: coral;
        width: 100vw;
        height: auto;
        overflow-x: hidden;
        min-width: 100vw;
        outline: hidden;
    }
    .title {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        width: 100vw;
        height: 110px;
        background: black;
        text-align: center;
        margin-left: -17px;
        padding: 5px;
        z-index: 1;
        margin-top: -9px;
    }
    .title h1 {
        margin: auto 0px;
    }
    
    .searchers {
        width: auto;
        display: inline;
        justify-content: space-between;
        height: 60px;
        margin: 0px auto;
        margin-right: 5px;
    }
    .searchers button {
        height: 45px;
        font-size: 15px;
        margin-left: 5px;
        width: 70px;
        background: coral;
        color: whitesmoke;
        border: none;
        border-radius: 10px;
    }
    .title input {
        width: 250px;
        padding-left: 10px;
        margin-right: 2px;
        height: 40px;
        background: whitesmoke;
        color: black;
        border-radius: 10px;
        margin: auto 0px;
    }
    
    .left {
        width: 100vw;
        height: 50px;
        display: inline-flex;
        justify-content: space-between;
        margin-left: -8px;
        margin-top: -60px;
        background: whitesmoke;
        color: black;
        overflow-x: scroll;
        overflow-y: hidden;
        z-index: 1;
    }
    .left button, .left a {
        border: none;
        margin-bottom: 20px;
        background-color: whitesmoke;
        color: black;
        width: 100%;
        height: auto;
        margin: auto 0px;
        text-align: left;
    }
    .searchers button:hover {
        background: #c17c7c;
    }
    .left button:hover {
        text-decoration: underline;
        font-size: 14px;
    }
    
    button:hover {
        cursor: pointer;
    }
    .footer {
        width: 100vw;
        margin-left: -7px;
        height: 400px;
        background: lightslategray;
        text-align: center;
        margin-top: 0px;
        border-radius: 10px;
        color: white;
        padding-top: 30px;
    }
    
    svg {
        width: 40px;
        height: 40px;
    }
    
    footer img {
        width: 40px;
        height: 40px;
    }
    
    footer img, footer svg {
        padding-right: 30px;
    }
    .fullbody {
        display: block;
        width: 100vw;
        height: auto;
        background: black;
        margin-top: -8vh;
        margin-left: -8px;
    }
    
    .leftimage {
        width: 100vw;
        padding-top: 50px;
        margin-bottom: 40px;
        height: auto;
        display: block;
        text-align: center;
    }
    
    .rightdesc {
        width: 100vw;
        height: auto;
    }
    .moviecard {
        background-size: cover;
        width: 220px;
        margin: 40px auto;
        border-radius: 20px;
        height: 330px;
    }

    .moviedesc {
        width: 90%;
        padding-bottom: 20px;
        height: 90%;
        margin: auto;
        background: black;
        text-align: left;
    }
    .moviedesc h1 {
        text-align: center;
    }
}

@media screen and (min-width: 1000px) {
    body {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: coral;
        width: 100vw;
        height: auto;
        overflow-x: hidden;
        display: inline-block;
        justify-content: space-around;
        min-width: 30vw;
    }
    .title {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        width: 100%;
        height: 80px;
        background: black;
        display: inline-flex;
        justify-content: space-between;
        margin-left: -17px;
        position: fixed;
        flex-wrap: wrap;
        padding: 5px;
        z-index: 1;
        margin-top: -10px;
    }
    .title h1 {
        margin: auto 0px;
        padding-left: 40px;
    }
    
    .searchers {
        width: auto;
        display: inline-flex;
        justify-content: space-between;
        height: 50%;
        margin: auto 40px;
    }
    .searchers button {
        height: 110%;
        font-size: 15px;
        margin-left: 10px;
        width: 100px;
        background: coral;
        color: whitesmoke;
        border: none;
        border-radius: 10px;
    }
    .title input {
        width: 300px;
        padding-left: 10px;
        margin-right: 10px;
        height: 99%;
        background: whitesmoke;
        color: black;
        border-radius: 10px;
        margin: auto 0px;
    }
    .body {
        font-family: Arial, Helvetica, sans-serif;
        display: inline-block;
        width: 100%;
    }
    .left {
        width: 100%;
        height: 50px;
        position: fixed;
        display: inline-flex;
        justify-content: space-between;
        margin-left: -8px;
        margin-top: 75px;
        margin-bottom: 10px;
        background: whitesmoke;
        color: black;
        z-index: 1;
    }
    .left button, .left a {
        border: none;
        margin-bottom: 20px;
        background-color: whitesmoke;
        color: black;
        width: 100%;
        height: auto;
        margin: auto 0px;
        text-align: left;
        padding-left: 40px;
    }
    .searchers button:hover {
        background: #c17c7c;
    }
    .left button:hover {
        text-decoration: underline;
        font-size: 14px;
    }
    
    button:hover {
        cursor: pointer;
    }
    
    .footer {
        width: 100%;
        height: 500px;
        background: lightslategray;
        margin-left: -8px;
        text-align: center;
        margin-top: 20px;
        border-radius: 10px;
        color: white;
        padding-left: 25px;
        padding-top: 30px;
    }
    
    svg {
        width: 40px;
        height: 40px;
    }
    
    footer img {
        width: 40px;
        height: 40px;
    }
    
    footer img, footer svg {
        padding-right: 30px;
    }
    .fullbody {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        background: black;
        margin-top: 20vh;
        margin-left: -8px;
    }

    .leftimage {
        width: 35vw;
        margin-top: 40px;
        margin-bottom: 40px;
        height: auto;
        margin-left: 2%;
        display: block;
    }
    
    .rightdesc {
        width: 58vw;
        height: auto;
        margin-right: 2.5%;
        margin-left: 1%;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .moviecard {
        background-size: cover;
        width: 220px;
        margin: auto;
        margin-left: 10%;
        border-radius: 20px;
        margin-top: 12%;
        height: 330px;
    }
    .leftimage h2 {
        margin-left: 10%;
    }
    .moviedesc {
        width: 90%;
        height: 90%;
        margin: auto;
        background: black;
        padding: 30px;
        text-align: left;
    }
}


.trailerwindow {
    width: 80vw;
    height: auto;
    background: white;
    margin: 30px auto;
    margin-bottom: 30px;
}

.moviedesc p {
    color: white;
    margin-bottom: 40px;
}
.moviedesc b {
    color: white;
    padding-bottom: 30px;
}

.trailer {
    width: auto;
    height: auto;
    text-align: center;
    margin: auto;
    background: black;
}
