
@media screen and (min-width: 360px) and (max-width: 1024px) {
    body {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: coral;
        width: 100vw;
        height: auto;
        overflow-x: hidden;
        min-width: 100vw;
        outline: hidden;
    }
    .title {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        width: 100vw;
        height: 110px;
        background: black;
        text-align: center;
        margin-left: -17px;
        padding: 5px;
        z-index: 1;
        margin-top: -9px;
    }
    .title h1 {
        margin: auto 0px;
    }
    
    .searchers {
        width: auto;
        display: inline;
        justify-content: space-between;
        height: 60px;
        margin: 0px auto;
        margin-right: 5px;
    }
    .searchers button {
        height: 45px;
        font-size: 15px;
        margin-left: 5px;
        width: 70px;
        background: coral;
        color: whitesmoke;
        border: none;
        border-radius: 10px;
    }
    .title input {
        width: 250px;
        padding-left: 10px;
        margin-right: 2px;
        height: 40px;
        background: whitesmoke;
        color: black;
        border-radius: 10px;
        margin: auto 0px;
    }
    
    .left {
        width: 100vw;
        height: 50px;
        display: inline-flex;
        justify-content: space-between;
        margin-left: -8px;
        margin-top: -60px;
        margin-bottom: 10px;
        background: whitesmoke;
        color: black;
        overflow-x: scroll;
        overflow-y: hidden;
        z-index: 1;
    }
    .left button, .left a {
        border: none;
        margin-bottom: 20px;
        background-color: whitesmoke;
        color: black;
        width: 100%;
        height: auto;
        margin: auto 0px;
        text-align: left;
    }
    
    .right, .nowplaying, .air, .today {
        width: 100vw;
        height: 380px;
        display: inline-flex;
        justify-content: space-between;
        margin-bottom: 10px;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .nowplaying {
        margin: 0px;
    }
    
    h2 {
        padding-left: 20px;
    }
    hr {
        color: coral;
    }
    .right p, .nowplaying p, .air p , .today p {
        padding-top: 10%;
        padding-left: 40px;
        padding-right: 20px;
    }
    
    .movieimage {
        width: 240px;
        height: 85%;
        margin: auto;
        padding-bottom: 0px;
        border-radius: 14px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    
    .moviecard {
        margin-top: 10px;
        display: block;
        width: 250px;
        text-align: center;
        padding: 5px;
        border-radius: 22px;
        background: black;
        height: 350px;
        margin-right: 20px;
        position: relative;
        
    }
    
    #page {
        width: auto;
        height: 20px;
        min-width: 20px;
        margin-right: 4px;
    }
    
    .pages {
        margin-top: 40px;
        width: 100%;
        height: 60px;
        text-align: center;
    }
    
    .moviecard p {
        font-size: 8px;
    }
    #moviename {
        padding: 0px;
        margin: 0px auto;
        font-size: 14px;
    }
    
    .description {
        width: 90%;
        height: 15%;
        margin-bottom: 10px;
        padding-bottom: 20px;
        font-size: 8px;
        text-align: justify;
        color: white;
        display: inline-flex;
        justify-content: space-between;
    }
    
    a {
        text-decoration: none;
        color: coral;
    }
    
    .searchers button:hover {
        background: #c17c7c;
    }
    .left button:hover {
        text-decoration: underline;
        font-size: 14px;
    }
    
    button:hover {
        cursor: pointer;
    }
    
    .moviecard:hover {
        height: 380px;
        box-shadow: 4px 4px 4px 4px grey;
    }
    
    .footer {
        width: 100vw;
        margin-left: -7px;
        height: 400px;
        background: lightslategray;
        text-align: center;
        margin-top: 0px;
        border-radius: 10px;
        color: white;
        padding-top: 30px;
    }
    
    svg {
        width: 40px;
        height: 40px;
    }
    
    footer img {
        width: 40px;
        height: 40px;
    }
    
    footer img, footer svg {
        padding-right: 30px;
    }

}

@media screen and (min-width: 1000px) {
    body {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: coral;
        width: 100vw;
        height: auto;
        overflow-x: hidden;
        display: inline-block;
        justify-content: space-around;
        min-width: 30vw;
    }
    .title {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        width: 100%;
        height: 80px;
        background: black;
        display: inline-flex;
        justify-content: space-between;
        margin-left: -17px;
        position: fixed;
        flex-wrap: wrap;
        padding: 5px;
        z-index: 1;
        margin-top: -10px;
    }
    .title h1 {
        margin: auto 0px;
        padding-left: 40px;
    }
    
    .searchers {
        width: auto;
        display: inline-flex;
        justify-content: space-between;
        height: 50%;
        margin: auto 40px;
    }
    .searchers button {
        height: 110%;
        font-size: 15px;
        margin-left: 10px;
        width: 100px;
        background: coral;
        color: whitesmoke;
        border: none;
        border-radius: 10px;
    }
    .title input {
        width: 300px;
        padding-left: 10px;
        margin-right: 10px;
        height: 99%;
        background: whitesmoke;
        color: black;
        border-radius: 10px;
        margin: auto 0px;
    }
    .body {
        font-family: Arial, Helvetica, sans-serif;
        display: inline-block;
        width: 100%;
    }
    .left {
        width: 100%;
        height: 50px;
        position: fixed;
        display: inline-flex;
        justify-content: space-between;
        margin-left: -8px;
        margin-top: 75px;
        margin-bottom: 10px;
        background: whitesmoke;
        color: black;
        z-index: 1;
    }
    .left button, .left a {
        border: none;
        margin-bottom: 20px;
        background-color: whitesmoke;
        color: black;
        width: 100%;
        height: auto;
        margin: auto 0px;
        text-align: left;
        padding-left: 40px;
    }
    .right, .nowplaying, .air, .today {
        width: 98%;
        height: auto;
        margin: auto 0px;
        margin-top: 135px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .nowplaying {
        margin: 0px;
    }
    
    h2 {
        padding-left: 20px;
    }
    hr {
        color: coral;
    }
    .right p, .nowplaying p, .air p , .today p {
        padding-top: 10%;
        padding-left: 40px;
        padding-right: 20px;
    }
    
    .movieimage {
        width: 98%;
        height: 85%;
        margin: auto;
        padding-bottom: 0px;
        border-radius: 14px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    
    .moviecard {
        margin-top: 10px;
        display: block;
        justify-content: space-around;
        width: 250px;
        text-align: center;
        padding: 5px;
        border-radius: 22px;
        background: black;
        height: 370px;
        
    }
    
    #page {
        width: auto;
        height: 20px;
        min-width: 20px;
        margin-right: 4px;
    }
    
    .pages {
        margin-top: 40px;
        width: 100%;
        height: 60px;
        justify-content: center;
        text-align: center;
    }
    
    .moviecard p {
        font-size: 8px;
    }
    #moviename {
        padding: 0px;
        margin: 0px auto;
        font-size: 14px;
    }
    
    .description {
        width: 90%;
        height: 15%;
        margin-bottom: 10px;
        padding-bottom: 20px;
        font-size: 8px;
        text-align: justify;
        color: white;
        display: inline-flex;
        justify-content: space-between;
    }
    
    a {
        text-decoration: none;
        color: coral;
    }
    
    .searchers button:hover {
        background: #c17c7c;
    }
    .left button:hover {
        text-decoration: underline;
        font-size: 14px;
    }
    
    button:hover {
        cursor: pointer;
    }
    
    .moviecard:hover {
        height: 380px;
        box-shadow: 4px 4px 4px 4px grey;
    }
    
    .footer {
        width: 100%;
        height: 500px;
        background: lightslategray;
        margin-left: -8px;
        text-align: center;
        margin-top: 20px;
        border-radius: 10px;
        color: white;
        padding-left: 25px;
        padding-top: 30px;
    }
    
    svg {
        width: 40px;
        height: 40px;
    }
    
    footer img {
        width: 40px;
        height: 40px;
    }
    
    footer img, footer svg {
        padding-right: 30px;
    }
}
